body{
    padding: 0;
    margin: 0;
    background: url(../img/front-view-of-laptop-with-clock-and-agenda.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

header .menu{
    background-color: #009C95;
}

footer .rodape{
    background-color: #009C95;
}